node_modules
.next
out/
build
dist
.idea

yarn-error.log
example.html
.eslintrc.json
*.d.ts
.env.local
.env

# next-pwa files
# these get generated when next builds with next-pwa enabled
public/sw.js
public/*.js.map
public/workbox-*.js
